#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  background: #fff;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* subbar code starts here */

.subbar{
  background: #FF7677;
  color: #fff;
}

.subbar h6{
  font-weight: 600;
  font-size: 15px;
}

.all-items ul li{
  list-style-type: none;
  padding: 0px 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.all-items ul li:hover{
   color: #FF7677;
   padding-left: 2px;
}
.all-items li img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.sale{
  background: #EC4064;
  padding: 4px 8px;
  position: absolute;
  transform: translate(-25px, -27px);
  font-size: 10px;
}

 /* cart code starts from here */
 .carts{
  background: #b90a2e;
  border-radius: 50%;
  padding: 5px 10px;
  color: #fff;
  transform: translateY(-23px);
}
header{
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
}


/* banner code starts here */
.banner-box{
  /* background: blue; */
  width: 400px;
  position: fixed;
  right: 40px;
  top: 100px;
}

/* popup code starts here */
.popup-img img{
  height: 80vh;
  width: 100%;
  border-radius: 50px 50px 50px 50px;
}

.popup-bg{
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
}
.close{
  border-radius: 50%;
  position: absolute;
  background: transparent;
  color: #fff;
  border: 3px solid #fff;
}

/* shop code starts here */
.shops {
  position: relative; 
  text-align: center;
}

.shop-heading::before {
  content: '';
  width: 30%;
  height: 4px; 
  background-color: #000; 
  position: absolute;
  left: 10%;
  top: 4%;
}
.shop-heading::after {
  content: '';
  width: 30%;
  height: 4px; 
  background-color: #000; 
  position: absolute;
  right: 10%;
  top: 4%;
}


.card-box{
  width: 400px;
  overflow: hidden;
  height: 300px;
  position: relative;
  cursor: pointer;
 
}

.card img{
  width: 350px;
  height: 400px;
}

.card1{
  background: url('./Assets/card1.jpg');
}

.card2{
  background: url('./Assets/card2.jpg');
}

.card3{
  background: url('./Assets/card3.jpg');
}

.card4{
  background: url('./Assets/card4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card5{
  background: url('./Assets/card5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card6{
  background: url('./Assets/card6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.card-box{
  margin-inline: 10px;
}

.card-bg:hover{
  background: linear-gradient(#00000000,#000000e1);
  width: 100%;
  height: 100%;
}
.card-bg h3{
  position: absolute;
  transform: translate(30%,180%);
  color: #ffffff;
  text-transform: uppercase;
  
}

/* product card code starts here */
.shops2 {
  position: relative; 
  text-align: center;
}


.shop-heading2::before {
  content: '';
  width: 30%;
  height: 4px; 
  background-color: #000; 
  position: absolute;
  left: 7%;
  top: 4%;
}
.shop-heading2::after {
  content: '';
  width: 30%;
  height: 4px; 
  background-color: #000; 
  position: absolute;
  right: 7%;
  top: 4%;
}

.all-products{
  width: 265px;
  height: auto;
  flex: none;
  margin-inline: 10px;
}

.gallery{
  width: 1280px;
  height: auto;
  overflow-x: scroll;   
  scroll-behavior: smooth;
  cursor: pointer;

}

.gallery::-webkit-scrollbar{
  display: none;
}

.pro-img{
  width:100%;
  height: 250px;
  overflow: hidden;
  
}

.pro-img img:hover{
  transform: scale(1.1);
}
.pro-img img{
  width:100%;
  height: 250px;
  object-fit: inherit;
  transition: 1s ease-in-out;
}
.all-products:hover{
  border: 1px solid #ccc;
  border-radius: 5px;
}
.icon-backward i{
  font-size: 45px;
  cursor: pointer;
}

.icon-forward i{
  font-size: 45px;
  transform: rotate(180deg);
  cursor: pointer;
}

/* banner code starts here */

.img-banner img{
  height: 400px;
  transition: 1s ease-in-out;
  transform: translateX(-50px);
  cursor: pointer;
}
.img-banner img:hover{
  padding-left: 20px;
}

.text{
  transform: translate(-131px, 99px);
}

.img-banner2{
  overflow: hidden;
}
.img-banner2 img{
  height: 400px;
  transition: 1s ease-in-out;
  transform: translateX(80px);
  cursor: pointer;
}
.img-banner2 img:hover{
  padding-left: 20px;
}

.text2{
  width: 30%;
  transform: translate(198px, 96px);
}

/* brand code starts here */

.heading-3{
  width: 30%;
}

.all-brands{
  width: 70%;
}
.all-brands img{
  padding: 0px 25px;
  cursor:pointer;
}

/* instagram code starts here */
.image-caraousel{
  width: 100%;
  overflow-x: scroll;
  
}

.image-caraousel::-webkit-scrollbar{
  display: none;
}

.image-caraousel img{
  width: 280px;
  height: 250px;
}

.g-button{
  /* transform: translate(103px, -138px); */
  background: #fff;
  border: none;
  padding: 9px 20px;
  box-shadow: 3px 3px 10px #000;
  display: none;
  position: absolute;
  z-index: 100;
}

/* .g-image:hover .g-button{
  display: block; 
} */

/* footer code starts here */
footer{
  background: #FF7677;
  color: #fff;
}

.f-contents h2{
  font-size: 20px;
  font-weight: 600;
}

.f-contents p{
  font-weight: 400;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.f-contents p:hover{
  padding-left: 12px;
}
.f-inputbox{
  border:2px solid #fff;
  background: transparent;
  padding-left: 8px;
}

.f-inputbox::placeholder{
  color: #dadada;
}
.f-inputbox:focus{
  outline:1px solid #EC4064;
}

.f-btn{
  background: #fff;
  border:2px solid #fff;
  color: #FF7677;
  font-weight: 600;
 
}

.all-icons i{
  margin-inline: 11px;
  padding: 10px;
  color: #FF7677;
  background: #fff;
  border-radius: 48%;
  cursor: pointer;
  box-shadow: 1px 1px 2px #757575;
}

/* cart code starts here */
.cart-head span{
  color: #EC4064;
}

.container {
  margin-top: 20px;
}

.cart-head {
  margin-bottom: 20px;
  color: #333;
}

.cart-sec table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1.2em;
  min-width: 600px;
}

.cart-sec th, td {
  padding: 12px 15px;
  text-align: center;
}

.cart-sec th {
  background-color: #EC4064;
  color: white;
}

.cart-sec tr {
  border-bottom: 1px solid #dddddd;
}

.cart-sec tr:hover {
  background-color: #f1f1f1;
}

.cart-sec img {
  width: 50px; /* Adjust the size of the images */
  height: auto;
}

.cart-sec h3 {
  text-align: right;
  margin-top: 20px;
  color: #EC4064;
}

.checkout-banner img{
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

/* checkout page starts here */
.checkouts{
  width: 100%;
}
.checkouts form{
  width: 50%;
  height: auto;
}



